<main>
  <section class="form-section">
    <h2></h2>
    <form [formGroup]="loginForm">
      <div class="input-wrapper">
        <label>Login</label>
        <input type="login"
          formControlName="login"
          placeholder="login"
          class="form-control"
          name="login" [(ngModel)]="loginForm.value.login"
        >
      </div>
      <div class="input-wrapper">
        <label>Senha</label>
        <input type="password" formControlName="password" placeholder="password" class="form-control" name="password" [(ngModel)]="loginForm.value.password">
      </div>
    </form>
    <div class="btn-wrapper">
      @if (loginForm.valid) {
        <button class="btn btn-primary" (click)="submit()" [disabled]="!disableLoginButton">Login</button>
      } @else {
        <button class="btn btn-primary" (click)="submit()" [disabled]="disableLoginButton">Login</button>
      }
      <div class="dividir">
        <div></div>
        <span>or</span>
        <div></div>
      </div>
      <button class="btn btn-secundary" (click)="navigate()">Cadastro do Usuário</button>
    </div>
  </section>
</main>
